<?xml version='1.0' encoding='utf-8'?>
<jt>
    <view layer='pausemenu' id='menuOptions'>
        <vbox width='250' x='200' y='200'>
            <text color='#666666' height='40'>Options</text>
            <option color='#999999' onClick='joyce:ev("nogame.modules.menu.toggleMenu")'>Continue</option>
            <option color='#999999' onClick='jt:replaceAll("pausemenu", "menuHelp")'>Help...</option>
            <hbox>
                <option color='#999999' onClick='jt:focus("ui.username")' width="80">eMail</option>
                <input id="ui.username">Input</input>
            </hbox>
            <hbox>
                <option color='#999999' onClick='jt:focus("ui.password")' width="80">Password</option>
                <input id="ui.password">Input</input>
            </hbox>
            <option color='#999999' onClick='os.exit()'>Exit...</option>
        </vbox>
    </view>
    <view id='menuHelp'>
        <vbox width='250' x='200' y='100'>
            <text color='#666666' height='40'>Help</text>
            <text color='#999999'>WASD - navigate</text>
            <text color='#999999'>Q/Y - up/down</text>
            <text color='#999999'>ESC - pause menu</text>
            <text color='#999999'>F8 - debug</text>
            <text color='#999999'>F10 - demo ride</text>
            <text color='#999999'>F11 - full screen</text>
            <text color='#999999'>F12 - joyce ui</text>
            <text color='#999999'>tab - map</text>
            <option color='#999999' onClick='jt:replaceAll("pausemenu", "menuOptions")'>Back...</option>
        </vbox>
    </view>
</jt>
